ol.List13 {
  counter-reset: section131;
  --prefix-size: 40px;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --prefix-fixed-size: false;
  list-style: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size))
}
ul.List5 {
  counter-reset: section51;
  --prefix-size: 40px;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --prefix-fixed-size: false;
  list-style: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size))
}
ol.List7 {
  counter-reset: section71;
  --prefix-size: 40px;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --prefix-fixed-size: false;
  list-style: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size))
}
table.NormalTable {
  border-collapse: collapse;
  margin-bottom: .001pt;
  border-width: 1px;
  border-style: none;
  border-color: transparent
}
p.a {
  margin-top: 5pt;
  margin-bottom: 5pt;
  text-align: left;
  font-family: 宋体;
  font-size: 16.5pt;
  line-height: 108%;
  margin-left: 0;
  margin-right: 0;
  font-style: normal;
  font-weight: bold
}
body {}
ol.List13>li {
  position: relative
}
ol.List13>li::before {
  counter-increment: section131;
  content: counter(section131, decimal)".";
  --prefix-size: 40px;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --prefix-fixed-size: false;
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden
}
ol.List7>li {
  position: relative
}
ol.List7>li::before {
  counter-increment: section71;
  content: counter(section71, decimal)".";
  --prefix-size: 40px;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --prefix-fixed-size: false;
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden
}
span {
  white-space: pre-wrap
}
ul.List5>li {
  position: relative
}
ul.List5>li::before {
  counter-increment: section51;
  content: counter(bullet, disc);
  --prefix-size: 40px;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --prefix-fixed-size: false;
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden
}